---
const currentYear = new Date().getFullYear()
---

<footer>
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">{currentYear} <a href="" class="hover:underline">Desarrollado por ManGe</a> ❤️
    </span>
    </div>
</footer>
