---
import Layout from "../layouts/Layout.astro";
import Heading from "../lib/Heading.astro";
import Proyectos from "../lib/Proyectos.astro";
import Footer from "../lib/Footer.astro";
---

<Layout title="ManGe | Incio">
  <main class="items-center">
    <Heading />
    <Proyectos />
    <Footer />
  </main>
</Layout>
