---
import Layout from "../layouts/Layout.astro";
import Heading from "../lib/Heading.jsx";
import Proyectos from "../lib/Proyectos.jsx";
import Footer from "../lib/Footer.jsx";
---

<Layout title="ManGe | Incio">
  <main class="items-center">
    <Heading />
    <Proyectos />
    <Footer />
  </main>
</Layout>
